/* 
Colors used

Text Color (White): #eee;
Link Text Color: #EA92B6;
Secondary Link Text Color: #ED548D;
Primary Color: #EDD1D1;
Secondary Color: #AEA2C6;
Background Color: #8A7295;

*/

:root {
  font-size: 62.5%;
  --primary-color: #edd1d1;
  --secondary-color: #aea2c6;
  --background-color: #8a7295;
  --text-color: #eee;
  --link-color: #ea92b6;
  --secondary-link-color: #ed548d;
  --header-font-size: 2.4em;
  --medium-font-size: 1.6em;
  --small-font-size: 0.6em;
  --space-unit: 1em;
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --rounded-borders: 3px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-size: var(--medium-font-size);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  font-size: var(--header-font-size);
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 288px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.image-container {
  display: flex;
  justify-content: center;
}

.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #edd1d1;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: pulse 2s infinite; /* Apply pulse animation */
}

.pokedex-title {
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  color: #000;
  text-align: center;
}

.pokemon-list {
  display: grid;
  gap: var(--space-md);
  text-align: center;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.pokemonButton {
  width: 400px;
  max-width: 400px;
  padding: var(--space-sm);
  font-size: var(--medium-font-size);
  font-weight: 400;
  text-align: left;
  color: #000;
  background-color: var(--secondary-color);
  border-radius: var(--rounded-borders);
  border: none;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.pokemonButton:hover {
  transform: scale(1.02);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.pokemonButton:active {
  background-color: #d4d4d4;
}

.height-info {
  font-size: var(--small-font-size);
  font-weight: 400;
}

#modal-container {
  position: fixed;
  padding: var(--space-lg);
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  /* Center the modal*/
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #edd1d1;
  color: #000;
  padding: var(--space-md);
  width: 100%;
  max-width: 90%;
  text-align: left;
  border-radius: var(--rounded-borders);
}

.modal-close {
  float: right;
  appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

@media all and (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(300px, 1fr);
  }

  .pokemonButton {
    width: 400px;
    max-width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 576px) {
  :root {
    --header-font-size: 2em;
    --medium-font-size: 1.4em;
    --small-font-size: 0.8em;
  }

  .pokemon-list {
    grid-template-columns: repeat(300px, 1fr);
  }

  .pokemonButton {
    width: 300px;
    max-width: 100%;
  }
}
